/*Settaggi di base*/
div.flex {
    display: flex;
    text-align: center;
}
div > *:nth-child(1) {
    color: red;
    background-color: green;
    width: 100px;
}
div > *:nth-child(2) {
    color:orange;
    background-color: red;
    width: 100px;
}
div > *:nth-child(3) {
    color:green;
    background-color: orange;
    width: 100px;
}

/*es.1*/
.div1 {justify-content: space-between;}
/*es.2*/
.grandezza1 { flex-grow: 1;  }
.grandezza2 { flex-grow: 1;  order: 1;}
.grandezza3 { flex-grow: 2;  }

/*es.3*/
.centro { flex-grow: 2; background-color: red; text-align: center;}
.sinistra { flex-grow: 1; background-color: green; text-align: center;}
.destra { flex-grow: 1; background-color: orange; text-align: center;}

/*es.4*/
.div4 {
    justify-content: center;
    /* Row reverse per metterli al contrario*/
}


